<!-- Navbar -->
<nav class="navbar">
    <div class="logo">
        <img class="logo-img" src="/images/logo.png" alt="">
        <h1 class="logo-text">Care Forever</h1>
    </div>

    <ul class="nav-links">
        <li class="nav-links-items">
            <a href="#home">Home</a>
        </li>
        <li class="nav-links-items">
            <a href="#care-services">Care Services</a>
        </li>
        <li class="nav-links-items">
            <a href="#">Near Me</a>
        </li>
        <li class="nav-links-items">
            <a href="#">Events</a>
        </li>
        <li class="nav-links-items">
            <a href="#about-us">About Us</a>
        </li>
    </ul>

    <div class="contact-now">
        Contact Now
    </div>
</nav>

