<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="container">
            <!-- Navbar -->
            <nav class="navbar">
                <div class="logo">
                    <img class="logo-img" src="/images/logo.png" alt="">
                    <h1 class="logo-text">Care Forever</h1>
                </div>
    
                <ul class="nav-links">
                    <li class="nav-links-items">
                        <a href="#home">Home</a>
                    </li>
                    <li class="nav-links-items">
                        <a href="#">Care Services</a>
                    </li>
                    <li class="nav-links-items">
                        <a href="#">Near Me</a>
                    </li>
                    <li class="nav-links-items">
                        <a href="#">Events</a>
                    </li>
                    <li class="nav-links-items">
                        <a href="#">About Us</a>
                    </li>
                </ul>
    
                <div class="contact-now">
                    Contact Now
                </div>
            </nav>


        <div id="home" class="home-section">

            <div class="home-quote">
                <h1>Where age is celebrated,<br> and care is eternal.</h1>
                <p>Full time support from our top specialists. </p>
                <div class="get-care">
                    Get Care
                </div>
            </div>
            <!-- <img src="/images/homepageq.jpg" alt=""> -->
        </div>



        <div class="care-services">
            
        </div>
    </div>

    <footer>

    </footer>
</body>

</html>